@{
}







<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info text-center">
                <a href="#" class="d-block text-center">Alexander Pierce</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a asp-controller="Activity" asp-action="Index" class="nav-link">
                            <p>
                                Etkinlikler (Admin)
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Activity" asp-action="ApproveActivityListForUser" class="nav-link">
                            <p>
                                Katılımcı Onaylama (Admin)
                            </p>
                        </a>
                    </li>
                }                
                <li class="nav-item">
                    <a asp-controller="UserActivity" asp-action="Index" class="nav-link">
                        <p>
                            Etkinlikler (User)
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="UserActivity" asp-action="GetAllSubscribeActivities" class="nav-link">
                        <p>
                            Etkinliklerim (User)
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>




