@{
}







<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <form asp-controller="Auth" asp-action="SignOut" method="post">
                <div class="input-group input-group-sm">
                    <button class="btn btn-danger btn-sm" type="submit" placeholder="Search" aria-label="Search"><i class="fas fa-times"></i></button>
                </div>
            </form>
        </li>
    </ul>
</nav>






